# Basic:
torch
numpy

# Additionally:
# For testing DDPG in virtual environment:
gym

# For collecting data:
h5py

# For running in real world:
# On Raspberry Pi:
blosc
pigpio
picamera
zmq

# On server:
blosc
pyzmq
pygame

