# For Raspberry Pi:
blosc
numpy
pigpio
picamera
pyzmq

# For server running:
blosc
numpy
pygame
pyzmq
torch

# For collecting data (and train the model yourself):
h5py

# For test DDPG in virtual environment:
gym

